<div class= "side-bar-header">
  <div class="header-name">
    <a href=#>Tom</a>
  </div>
  <div class="create-room">
    <a href=#>チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="chat-room">
      <a href=#>話合い部屋</a>
    </div>
  </div>
    <div class="room">
      <div class="chat-room">
        <a href=#>相談部屋</a>
      </div>
    </div>
  </div>